body{
    background-color:rgb(95, 158, 160);
}
.container{
    background-color:white;
    width:500;
    margin-top: 5%;
    padding:25px;
    border-radius:10px;
}

#to-do-input{
    display: flex;
    justify-content: center;
    align-items: center;
}
#to-do-input input{
    width:80%;
    overflow: hidden;
    font-size: 25px;
    font-weight: 100px;
    font-family:cursive;
    border: 2px solid black;
    border-radius: 20px ;
    padding: 10px;
    margin-right:2%;

}
#to-do-input button{
    padding:20px 20px;
    border: none;
    border-radius: 20px;
    background-color: lightgreen;
}

#list{
    list-style: none;
    padding:0;
}
#list li{
    margin-top: 10px;
    padding:10px;
    border-radius:4px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    font-size: 25px;
    font-family:cursive;
    margin-left:5%;

}

/* Add this to your existing CSS file or in a <style> tag in your HTML */

.delete-btn {
    background-color: white;
    color: white;
    border: none;
    padding: 8px;
    margin-right:5px;
    margin-left: 700px; 
    cursor: pointer;
}

/* Style checkbox */
input[type="checkbox"] {
    margin-right: 70px; /* Adjust margin to create space between checkbox and text */
    vertical-align: middle; /* Align checkbox vertically with text */
    transform: scale(2); /* Increase size of checkbox */
}

li {
    display: flex;
    justify-content: space-between; /* Align items to the end */
    align-items: center; /* Center items vertically */
}
